s2j_server/src/main/webapp/wsdl/soapToJmsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ebiscus" xmlns:cls="http://soap2jms.github.com/common/ws"
	xmlns:tns="http://soap2jms.github.com/service" targetNamespace="http://soap2jms.github.com/service">
	<wsdl:types>
		<xsd:schema targetNamespace="http://soap2jms.github.com/common/ws">
			<xsd:element name="retrieveMessages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queueName" type="xsd:NCName" />
						<xsd:element name="filter" type="xsd:string" />
						<xsd:element name="maxItems" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retrieveMessagesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="retrieveMessagesResponse" type="cls:retrieveMessageResponseType"
							maxOccurs="1" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="wsJmsException" type="cls:wsJmsExceptionData" />
			<xsd:element name="acknowledgeMessages" nillable="false">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queueName" type="xsd:string"
							nillable="false" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="messageIds" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1" nillable="false">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="acknowledgeMessagesResponse" type="cls:wsJmsIdAndStatusList"/>

			<xsd:element name="sendMessages">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">

						<xsd:element name="queueName" type="xsd:string"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="messageSetIdentifier" type="xsd:string"
							maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="messages" type="cls:wsJmsMessage"
							maxOccurs="unbounded" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendMessagesResponse" type = "cls:wsJmsIdAndStatusList" />
			<xsd:complexType name="messageIdAndStatus">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="messageId" type="xsd:string" />
					<xsd:element name="status" type="cls:statusCode" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="retrieveMessageResponseType">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element maxOccurs="unbounded" name="s2jMessageAndStatus"
						type="cls:wsJmsMessageAndStatus" minOccurs="0" />
					<xsd:element name="complete" type="xsd:boolean"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="statusCode">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="code">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ERR_GENERIC" />
								<xsd:enumeration value="ERR_INCOMPATIBLE_PROTOCOL" />
								<xsd:enumeration value="ERR_JMS" />
								<xsd:enumeration value="OK" />
								<xsd:enumeration value="WARN_MSG_NOT_FOUND" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Reason" type="xsd:string" maxOccurs="1"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="wsJmsMessage">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element minOccurs="0" maxOccurs="1" name="correlationId"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="deliveryMode" type="xsd:int"
						maxOccurs="1" minOccurs="1" />
					<xsd:element name="expiration" type="xsd:long"
						maxOccurs="1" minOccurs="1" />
					<xsd:element name="headers" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="1" maxOccurs="1" name="key"
									type="xsd:string" />
								<xsd:element minOccurs="1" maxOccurs="1" name="value"
									type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="messageId"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="messageClass">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="TEXT" />
								<xsd:enumeration value="MAP" />
								<xsd:enumeration value="BYTES" />
								<xsd:enumeration value="STREAM" />
								<xsd:enumeration value="OBJECT" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="priority" type="xsd:int" maxOccurs="1"
						minOccurs="0">
					</xsd:element>
					<xsd:element name="redelivered" type="xsd:boolean"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="timestamp"
						type="xsd:long">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="type"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="body" type="xsd:base64Binary"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="wsJmsMessageAndStatus">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element name="wsJmsMessage" type="cls:wsJmsMessage" />
					<xsd:element name="messageStatus" type="cls:statusCode" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="wsJmsExceptionData">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="originalException" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="code" type="xsd:int" />
				<xsd:attribute name="jmsCode" type="xsd:int" />
				<xsd:attribute name="exceptionClass">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="JMS" />
							<xsd:enumeration value="CONFIGURATION" />
							<xsd:enumeration value="OTHER" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
			<xsd:complexType name="wsJmsIdAndStatusList">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="messageIdAndStatus" type="cls:messageIdAndStatus"
						maxOccurs="unbounded" minOccurs="1" nillable="false"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="retrieveMessagesRequest">
		<wsdl:part name="parameters" element="cls:retrieveMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retrieveMessagesResponse">
		<wsdl:part name="parameters" element="cls:retrieveMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesRequest">
		<wsdl:part name="parameters" element="cls:acknowledgeMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesResponse">
		<wsdl:part name="parameters" element="cls:acknowledgeMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="wsJmsException">
		<wsdl:part name="parameters" element="cls:wsJmsException" />
	</wsdl:message>
	<wsdl:message name="sendMessagesRequest">
		<wsdl:part name="parameters" element="cls:sendMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessagesResponse">
		<wsdl:part name="parameters" element="cls:sendMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="reader.soap2jms">
		<wsdl:operation name="retrieveMessages">
			<wsdl:input message="tns:retrieveMessagesRequest" />
			<wsdl:output message="tns:retrieveMessagesResponse" />
			<wsdl:fault name="wsJmsException" message="tns:wsJmsException" />
		</wsdl:operation>
		<wsdl:operation name="acknowledgeMessages">
			<wsdl:input message="tns:acknowledgeMessagesRequest" />
			<wsdl:output message="tns:acknowledgeMessagesResponse" />
			<wsdl:fault name="wsJmsException" message="tns:wsJmsException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="sender.soap2jms">
		<wsdl:operation name="sendMessages">
			<wsdl:input message="tns:sendMessagesRequest" />
			<wsdl:output message="tns:sendMessagesResponse" />
			<wsdl:fault name="wsJmsException" message="tns:wsJmsException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="readerSOAP" type="tns:reader.soap2jms">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="acknowledgeMessages">
			<soap:operation soapAction="http://soap2jms.github.com/acknowledgeMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="wsJmsException">
				<soap:fault name="wsJmsException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveMessages">
			<soap:operation soapAction="http://soap2jms.github.com/retrieveMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="wsJmsException">
				<soap:fault name="wsJmsException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="senderSOAP" type="tns:sender.soap2jms">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendMessages">
			<soap:operation soapAction="http://soap2jms.github.com/sendMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="wsJmsException">
				<soap:fault name="wsJmsException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="soapToJmsService">
		<wsdl:port binding="tns:readerSOAP" name="readerSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
		<wsdl:port binding="tns:senderSOAP" name="senderSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
