reader_common/src/main/resources/queueReader.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ebiscus" xmlns:cls="http://soap2jms.github.com/reader_common"
	xmlns:tns="http://soap2jms.github.com/reader" targetNamespace="http://soap2jms.github.com/reader">
	<wsdl:types>
		<xsd:schema targetNamespace="http://soap2jms.github.com/reader_common">
			<xsd:element name="retrieveMessages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queueName" type="xsd:NCName" />						
						<xsd:element name="filter" type="xsd:string" />
						<xsd:element name="maxItems" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retrieveMessagesResponse" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="retrieveMessagesResponse" type="cls:retrieveMessageResponseType"
							maxOccurs="1" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="acknowledgeMessages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageId" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="acknowledgeMessagesResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="messageIdAndStatus" type="cls:messageIdAndStatus"
							maxOccurs="unbounded" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="messageIdAndStatus">
				<xsd:sequence maxOccurs="unbounded" minOccurs="1">
					<xsd:element name="messageId" type="xsd:string" />
					<xsd:element name="status" type="cls:acknowledgeStatus" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="retrieveMessageResponseType">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element maxOccurs="unbounded" name="jmsMessages"
						type="cls:jmsMessage" minOccurs="1" />
					<xsd:element name="complete" type="xsd:boolean"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="acknowledgeStatus">
				<xsd:sequence>
					<xsd:element name="code">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK">
								</xsd:enumeration>
								<xsd:enumeration value="MESSAGE_NOT_FOUND">
								</xsd:enumeration>
								<xsd:enumeration value="ERROR">
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="success" type="xsd:boolean">
					</xsd:element>
					<xsd:element name="Reason" type="xsd:string" maxOccurs="1"
						minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="jmsMessage">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element minOccurs="1" maxOccurs="1" name="messageId"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="timestamp"
						type="xsd:long">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="type"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="0" maxOccurs="1" name="correlationId"
						type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="messageType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="TEXT"></xsd:enumeration>
								<xsd:enumeration value="MAP"></xsd:enumeration>
								<xsd:enumeration value="BYTES"></xsd:enumeration>
								<xsd:enumeration value="STREAM"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="body" type="xsd:base64Binary">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="retrieveMessagesRequest">
		<wsdl:part name="parameters" element="cls:retrieveMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retrieveMessagesResponse">
		<wsdl:part name="parameters" element="cls:retrieveMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesRequest">
		<wsdl:part name="parameters" element="cls:acknowledgeMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesResponse">
		<wsdl:part name="parameters" element="cls:acknowledgeMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="reader.soap2jms">
		<wsdl:operation name="retrieveMessages">
			<wsdl:input message="tns:retrieveMessagesRequest"></wsdl:input>
			<wsdl:output message="tns:retrieveMessagesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="acknowledgeMessages">
			<wsdl:input message="tns:acknowledgeMessagesRequest"></wsdl:input>
			<wsdl:output message="tns:acknowledgeMessagesResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="readerSOAP" type="tns:reader.soap2jms">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="acknowledgeMessages">
			<soap:operation soapAction="http://soap2jms.github.com/acknowledgeMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="retrieveMessages">
			<soap:operation soapAction="http://soap2jms.github.com/retrieveMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="jmsReaderSoap">
		<wsdl:port binding="tns:readerSOAP" name="readerSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
