reader_common/src/main/resources/queueReader.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ebiscus" xmlns:cls="http://soap2jms.github.com/reader/common/ws"
	xmlns:tns="http://soap2jms.github.com/reader" targetNamespace="http://soap2jms.github.com/reader">
	<wsdl:types>
		<xsd:schema targetNamespace="http://soap2jms.github.com/reader/common/ws">
			<xsd:element name="retrieveMessages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="queueName" type="xsd:NCName" />
						<xsd:element name="filter" type="xsd:string" />
						<xsd:element name="maxItems" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="retrieveMessagesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="retrieveMessagesResponse" type="cls:retrieveMessageResponseType"
							maxOccurs="1" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="s2jmsException" type="cls:s2jmsExceptionType" />
			<xsd:element name="s2jmsConfiguratonException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="cls:s2jmsException"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="acknowledgeMessages">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageId" type="xsd:string"
							maxOccurs="unbounded" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="acknowledgeMessagesResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="messageIdAndStatus" type="cls:messageIdAndStatus"
							maxOccurs="unbounded" minOccurs="1" nillable="false"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="messageIdAndStatus">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="messageId" type="xsd:string" />
					<xsd:element name="status" type="cls:responseStatus" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="retrieveMessageResponseType">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element maxOccurs="unbounded"
						name="s2jMessageAndStatus" type="cls:wsJmsMessageAndStatus" minOccurs="0" />
					<xsd:element name="complete" type="xsd:boolean" maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="responseStatus">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="code">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="OK" />
								<xsd:enumeration value="WARN" />
								<xsd:enumeration value="TEMPORARY_ERROR" />
								<xsd:enumeration value="PERMANENT_ERROR" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Reason" type="xsd:string" maxOccurs="1"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="wsJmsMessage">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element minOccurs="0" maxOccurs="1"
						name="correlationId" type="xsd:string">
					</xsd:element>
					<xsd:element name="deliveryMode" type="xsd:int"
						maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element name="headers" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element minOccurs="1" maxOccurs="1"
									name="key" type="xsd:string" />
								<xsd:element minOccurs="1" maxOccurs="1"
									name="value" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="messageId" type="xsd:string">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="messageClass">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="TEXT" />
								<xsd:enumeration value="MAP" />
								<xsd:enumeration value="BYTES" />
								<xsd:enumeration value="STREAM" />
								<xsd:enumeration value="OBJECT" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="priority" type="xsd:int"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
					<xsd:element name="redelivered" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1"
						name="timestamp" type="xsd:long">
					</xsd:element>
					<xsd:element minOccurs="1" maxOccurs="1" name="type"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="body" type="xsd:base64Binary" maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="wsJmsMessageAndStatus">
				<xsd:sequence minOccurs="1" maxOccurs="1">
					<xsd:element name="wsJmsMessage" type="cls:wsJmsMessage" />
					<xsd:element name="messageStatus" type="cls:responseStatus" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="s2jmsExceptionType">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="originalException" type="xsd:string" />
				</xsd:sequence>
				<xsd:attribute name="code" type="xsd:int" />
				<xsd:attribute name="exceptionType">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="JMS" />
							<xsd:enumeration value="CONFIGURATION" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="retrieveMessagesRequest">
		<wsdl:part name="parameters" element="cls:retrieveMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="retrieveMessagesResponse">
		<wsdl:part name="parameters" element="cls:retrieveMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesRequest">
		<wsdl:part name="parameters" element="cls:acknowledgeMessages"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="acknowledgeMessagesResponse">
		<wsdl:part name="parameters" element="cls:acknowledgeMessagesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="s2jmsException">
		<wsdl:part name="parameters" element="cls:s2jmsException" />
	</wsdl:message>
	<wsdl:portType name="reader.soap2jms">
		<wsdl:operation name="retrieveMessages">
			<wsdl:input message="tns:retrieveMessagesRequest" />
			<wsdl:output message="tns:retrieveMessagesResponse" />
			<wsdl:fault name="s2jmsException" message="tns:s2jmsException" />

		</wsdl:operation>
		<wsdl:operation name="acknowledgeMessages">
			<wsdl:input message="tns:acknowledgeMessagesRequest" />
			<wsdl:output message="tns:acknowledgeMessagesResponse" />
			<wsdl:fault name="s2jmsException" message="tns:s2jmsException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="readerSOAP" type="tns:reader.soap2jms">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="acknowledgeMessages">
			<soap:operation soapAction="http://soap2jms.github.com/acknowledgeMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="s2jmsException">
				<soap:fault name="s2jmsException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveMessages">
			<soap:operation soapAction="http://soap2jms.github.com/retrieveMessages" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="s2jmsException">
				<soap:fault name="s2jmsException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="jmsReaderSoap">
		<wsdl:port binding="tns:readerSOAP" name="readerSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
